<%- include('partials/header')%>
    <form action="/compose/<%= user %>" method="get" class="form">
        <button method="get">Compose Blog</button>
    </form>

    <div class="container">
        <ul class="ul">
            <% blogs.forEach(function(blog){ %>
                <li class="li">
                    <div class="blog container">
                        <h2 class="user">
                            <%= blog.userID %>
                        </h2>
                        <h4 class="dates">
                            <%=blog.blogDate%>
                        </h4>
                        <h1>
                            <%=blog.blogTitle%>
                        </h1>
                        <p>
                            <%= blog.blogContent %>
                        </p>
                        <% if(user==blog.userID){%>
                            <a href="/delete/<%= user %>/<%=blog._id %>"><button >Delete</button></a>
                            <% } %>
                    </div>
                </li>
                <% }) %>
        </ul>

    </div>
    <form action="/logout" method="get"><button>Logout</button></form>
    <%- include('partials/footer')%>